.css_tiidcodigos_det_label {text-align: right;vertical-align: middle;}
.css_tiidcodigos_det_line {height:0px;text-align: right;}
.css_tiidnombres_det_label {text-align: right;vertical-align: middle;}
.css_tiidnombres_det_line {height:0px;text-align: right;}
.css_tiidfcharegd_det_label {text-align: right;vertical-align: middle;}
.css_tiidfcharegd_det_line {height:0px;text-align: right;}
.css_tiidactivos_det_label {text-align: right;vertical-align: middle;}
.css_tiidactivos_det_line {height:0px;text-align: right;}
