.css_tiidcodigos_label {text-align:center;vertical-align:middle;font-weight:bold;}
.css_tiidcodigos_grid_line {vertical-align: middle;text-align: center;}
.css_tiidnombres_label {text-align:center;vertical-align:middle;font-weight:bold;}
.css_tiidnombres_grid_line {vertical-align: middle;text-align: right;}
.css_tiidfcharegd_label {text-align:center;vertical-align:middle;font-weight:bold;}
.css_tiidfcharegd_grid_line {vertical-align: middle;text-align: center;}
.css_tiidactivos_label {text-align:center;vertical-align:middle;font-weight:bold;}
.css_tiidactivos_grid_line {vertical-align: middle;text-align: center;}
