.css_aplicodigon_det_label {text-align: right;vertical-align: middle;}
.css_aplicodigon_det_line {height:0px;text-align: right;}
.css_aplinombres_det_label {text-align: right;vertical-align: middle;}
.css_aplinombres_det_line {height:0px;text-align: right;}
.css_aplidescrips_det_label {text-align: right;vertical-align: middle;}
.css_aplidescrips_det_line {height:0px;text-align: right;}
.css_usuacodigos_det_label {text-align: right;vertical-align: middle;}
.css_usuacodigos_det_line {height:0px;text-align: right;}
.css_aplifecregd_det_label {text-align: right;vertical-align: middle;}
.css_aplifecregd_det_line {height:0px;text-align: right;}
.css_apliestados_det_label {text-align: right;vertical-align: middle;}
.css_apliestados_det_line {height:0px;text-align: right;}
