.css_aplicodigon_label {text-align:center;vertical-align:middle;font-weight:bold;}
.css_aplicodigon_grid_line {vertical-align: middle;text-align: right;}
.css_aplinombres_label {text-align:center;vertical-align:middle;font-weight:bold;}
.css_aplinombres_grid_line {vertical-align: middle;text-align: right;}
.css_aplidescrips_label {text-align:center;vertical-align:middle;font-weight:bold;}
.css_aplidescrips_grid_line {vertical-align: middle;text-align: right;}
.css_usuacodigos_label {text-align:center;vertical-align:middle;font-weight:bold;}
.css_usuacodigos_grid_line {vertical-align: middle;text-align: center;}
.css_aplifecregd_label {text-align:center;vertical-align:middle;font-weight:bold;}
.css_aplifecregd_grid_line {vertical-align: middle;text-align: center;}
.css_apliestados_label {text-align:center;vertical-align:middle;font-weight:bold;}
.css_apliestados_grid_line {vertical-align: middle;text-align: center;}
