.css_paiscodigos_label {text-align:center;vertical-align:middle;font-weight:bold;}
.css_paiscodigos_grid_line {vertical-align: middle;text-align: right;}
.css_paisnombres_label {text-align:center;vertical-align:middle;font-weight:bold;}
.css_paisnombres_grid_line {vertical-align: middle;text-align: right;}
.css_paiscodalf2s_label {text-align:center;vertical-align:middle;font-weight:bold;}
.css_paiscodalf2s_grid_line {vertical-align: middle;text-align: center;}
.css_paiscoddomis_label {text-align:center;vertical-align:middle;font-weight:bold;}
.css_paiscoddomis_grid_line {vertical-align: middle;text-align: center;}
.css_paisfcharegd_label {text-align:center;vertical-align:middle;font-weight:bold;}
.css_paisfcharegd_grid_line {vertical-align: middle;text-align: center;}
.css_paisactivos_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_paisactivos_grid_line {vertical-align: top;text-align: right;}
