.css_paiscodigos_det_label {text-align: left;vertical-align: middle;}
.css_paiscodigos_det_line {height:0px;text-align: left;}
.css_paisnombres_det_label {text-align: left;vertical-align: middle;}
.css_paisnombres_det_line {height:0px;text-align: left;}
.css_paiscodalf2s_det_label {text-align: left;vertical-align: middle;}
.css_paiscodalf2s_det_line {height:0px;text-align: left;}
.css_paiscoddomis_det_label {text-align: left;vertical-align: middle;}
.css_paiscoddomis_det_line {height:0px;text-align: left;}
.css_paisfcharegd_det_label {text-align: left;vertical-align: middle;}
.css_paisfcharegd_det_line {height:0px;text-align: left;}
.css_paisactivos_det_label {text-align: left;vertical-align: middle;}
.css_paisactivos_det_line {height:0px;text-align: left;}
