.css_esclcodigos_label {text-align:center;vertical-align:middle;font-weight:bold;}
.css_esclcodigos_grid_line {vertical-align: middle;text-align: center;}
.css_esclnombres_label {text-align:center;vertical-align:middle;font-weight:bold;}
.css_esclnombres_grid_line {vertical-align: middle;text-align: left;}
.css_escldescrips_label {text-align:center;vertical-align:middle;font-weight:bold;}
.css_escldescrips_grid_line {vertical-align: middle;text-align: left;}
.css_esclfcharegd_label {text-align:center;vertical-align:middle;font-weight:bold;}
.css_esclfcharegd_grid_line {vertical-align: middle;text-align: center;}
.css_esclactivos_label {text-align:center;vertical-align:middle;font-weight:bold;}
.css_esclactivos_grid_line {vertical-align: middle;text-align: center;}
