.css_esclcodigos_det_label {text-align: left;vertical-align: middle;}
.css_esclcodigos_det_line {height:0px;text-align: left;}
.css_esclnombres_det_label {text-align: left;vertical-align: middle;}
.css_esclnombres_det_line {height:0px;text-align: left;}
.css_escldescrips_det_label {text-align: left;vertical-align: middle;}
.css_escldescrips_det_line {height:0px;text-align: left;}
.css_esclfcharegd_det_label {text-align: left;vertical-align: middle;}
.css_esclfcharegd_det_line {height:0px;text-align: left;}
.css_esclactivos_det_label {text-align: left;vertical-align: middle;}
.css_esclactivos_det_line {height:0px;text-align: left;}
