.css_ticlcodigos_det_label {text-align: left;vertical-align: middle;}
.css_ticlcodigos_det_line {height:0px;text-align: left;}
.css_ticlnombres_det_label {text-align: left;vertical-align: middle;}
.css_ticlnombres_det_line {height:0px;text-align: left;}
.css_ticldescrips_det_label {text-align: left;vertical-align: middle;}
.css_ticldescrips_det_line {height:0px;text-align: left;}
.css_ticlfcharegd_det_label {text-align: left;vertical-align: middle;}
.css_ticlfcharegd_det_line {height:0px;text-align: left;}
.css_ticlestados_det_label {text-align: left;vertical-align: middle;}
.css_ticlestados_det_line {height:0px;text-align: left;}
