.css_ticlcodigos_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_ticlcodigos_grid_line {vertical-align: top;text-align: right;}
.css_ticlnombres_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_ticlnombres_grid_line {vertical-align: top;text-align: right;}
.css_ticldescrips_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_ticldescrips_grid_line {vertical-align: top;text-align: right;}
.css_ticlfcharegd_label {text-align:center;vertical-align:middle;font-weight:bold;}
.css_ticlfcharegd_grid_line {vertical-align: top;text-align: center;}
.css_ticlestados_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_ticlestados_grid_line {vertical-align: top;text-align: right;}
