.css_publcodigon_det_label {text-align: left;vertical-align: middle;}
.css_publcodigon_det_line {height:0px;text-align: left;}
.css_cliecodigon_det_label {text-align: left;vertical-align: middle;}
.css_cliecodigon_det_line {height:0px;text-align: left;}
.css_publgrupusrs_det_label {text-align: left;vertical-align: middle;}
.css_publgrupusrs_det_line {height:0px;text-align: left;}
.css_aplicodigon_det_label {text-align: left;vertical-align: middle;}
.css_aplicodigon_det_line {height:0px;text-align: left;}
.css_publpuerton_det_label {text-align: left;vertical-align: middle;}
.css_publpuerton_det_line {height:0px;text-align: left;}
.css_meaucodigon_det_label {text-align: left;vertical-align: middle;}
.css_meaucodigon_det_line {height:0px;text-align: left;}
.css_publurls_det_label {text-align: left;vertical-align: middle;}
.css_publurls_det_line {height:0px;text-align: left;}
.css_publipss_det_label {text-align: left;vertical-align: middle;}
.css_publipss_det_line {height:0px;text-align: left;}
.css_publhorarios_det_label {text-align: left;vertical-align: middle;}
.css_publhorarios_det_line {height:0px;text-align: left;}
.css_usuacodigos_det_label {text-align: left;vertical-align: middle;}
.css_usuacodigos_det_line {height:0px;text-align: left;}
.css_publfecregd_det_label {text-align: left;vertical-align: middle;}
.css_publfecregd_det_line {height:0px;text-align: left;}
.css_publestados_det_label {text-align: left;vertical-align: middle;}
.css_publestados_det_line {height:0px;text-align: left;}
