.css_publcodigon_label {text-align:center;vertical-align:middle;font-weight:bold;}
.css_publcodigon_grid_line {vertical-align: middle;text-align: right;}
.css_publgrupusrs_label {text-align:center;vertical-align:middle;font-weight:bold;}
.css_publgrupusrs_grid_line {vertical-align: middle;text-align: right;}
.css_aplicodigon_label {text-align:center;vertical-align:middle;font-weight:bold;}
.css_aplicodigon_grid_line {vertical-align: middle;text-align: right;}
.css_publpuerton_label {text-align:center;vertical-align:middle;font-weight:bold;}
.css_publpuerton_grid_line {vertical-align: middle;text-align: center;}
.css_meaucodigon_label {text-align:center;vertical-align:middle;font-weight:bold;}
.css_meaucodigon_grid_line {vertical-align: middle;text-align: right;}
.css_publurls_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_publurls_grid_line {vertical-align: top;text-align: right;}
.css_publestados_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_publestados_grid_line {vertical-align: top;text-align: right;}
.css_cliecodigon_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_cliecodigon_grid_line {vertical-align: top;text-align: right;}
