BODY { 
	FONT-SIZE: 12px; 
	margin-left: 0px; 
	margin-top: 0px;	
	margin-right: 0px; 
	margin-bottom: 0px; 
	COLOR: #666666; 
	FONT-FAMILY: Arial, Helvetica, sans-serif
}
div.toolsStart {height: 25px; width: 100%; padding-top: 30px;}