.css_meaucodigon_det_label {text-align: right;vertical-align: middle;}
.css_meaucodigon_det_line {height:0px;text-align: right;}
.css_meaunombres_det_label {text-align: right;vertical-align: middle;}
.css_meaunombres_det_line {height:0px;text-align: right;}
.css_meaudescrips_det_label {text-align: right;vertical-align: middle;}
.css_meaudescrips_det_line {height:0px;text-align: right;}
.css_usuacodigos_det_label {text-align: right;vertical-align: middle;}
.css_usuacodigos_det_line {height:0px;text-align: right;}
.css_meaufecregd_det_label {text-align: right;vertical-align: middle;}
.css_meaufecregd_det_line {height:0px;text-align: right;}
.css_meauestados_det_label {text-align: right;vertical-align: middle;}
.css_meauestados_det_line {height:0px;text-align: right;}
