.css_meaucodigon_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_meaucodigon_grid_line {vertical-align: top;text-align: right;}
.css_meaunombres_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_meaunombres_grid_line {vertical-align: top;text-align: left;}
.css_meaudescrips_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_meaudescrips_grid_line {vertical-align: top;text-align: left;}
.css_usuacodigos_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_usuacodigos_grid_line {vertical-align: top;text-align: left;}
.css_meaufecregd_label {text-align:center;vertical-align:middle;font-weight:bold;}
.css_meaufecregd_grid_line {vertical-align: top;text-align: center;}
.css_meauestados_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_meauestados_grid_line {vertical-align: top;text-align: left;}
