.css_cliecodigon_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_cliecodigon_grid_line {vertical-align: top;text-align: right;}
.css_tiidcodigos_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_tiidcodigos_grid_line {vertical-align: top;text-align: left;}
.css_clieidentifs_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_clieidentifs_grid_line {vertical-align: top;text-align: left;}
.css_clienombres_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_clienombres_grid_line {vertical-align: top;text-align: left;}
.css_paiscodigos_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_paiscodigos_grid_line {vertical-align: top;text-align: left;}
.css_cliedireccis_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_cliedireccis_grid_line {vertical-align: top;text-align: left;}
