.css_cliecodigon_det_label {text-align: right;vertical-align: middle;}
.css_cliecodigon_det_line {height:0px;text-align: right;}
.css_tiidcodigos_det_label {text-align: right;vertical-align: middle;}
.css_tiidcodigos_det_line {height:0px;text-align: right;}
.css_clieidentifs_det_label {text-align: right;vertical-align: middle;}
.css_clieidentifs_det_line {height:0px;text-align: right;}
.css_clienombres_det_label {text-align: right;vertical-align: middle;}
.css_clienombres_det_line {height:0px;text-align: right;}
.css_paiscodigos_det_label {text-align: right;vertical-align: middle;}
.css_paiscodigos_det_line {height:0px;text-align: right;}
.css_cliedireccis_det_label {text-align: right;vertical-align: middle;}
.css_cliedireccis_det_line {height:0px;text-align: right;}
.css_clietelfijs_det_label {text-align: right;vertical-align: middle;}
.css_clietelfijs_det_line {height:0px;text-align: right;}
.css_cliepagwebs_det_label {text-align: right;vertical-align: middle;}
.css_cliepagwebs_det_line {height:0px;text-align: right;}
.css_cliecontacts_det_label {text-align: right;vertical-align: middle;}
.css_cliecontacts_det_line {height:0px;text-align: right;}
.css_cliecelconts_det_label {text-align: right;vertical-align: middle;}
.css_cliecelconts_det_line {height:0px;text-align: right;}
.css_cliemailcons_det_label {text-align: right;vertical-align: middle;}
.css_cliemailcons_det_line {height:0px;text-align: right;}
.css_esclcodigos_det_label {text-align: right;vertical-align: middle;}
.css_esclcodigos_det_line {height:0px;text-align: right;}
.css_ticlcodigos_det_label {text-align: right;vertical-align: middle;}
.css_ticlcodigos_det_line {height:0px;text-align: right;}
.css_cliefcharegd_det_label {text-align: right;vertical-align: middle;}
.css_cliefcharegd_det_line {height:0px;text-align: right;}
.css_clieactivos_det_label {text-align: right;vertical-align: middle;}
.css_clieactivos_det_line {height:0px;text-align: right;}
