.css_ongacodigon_label {text-align:center;vertical-align:middle;font-weight:bold;}
.css_ongacodigon_grid_line {vertical-align: middle;text-align: right;}
.css_ongafechas_label {text-align:center;vertical-align:middle;font-weight:bold;}
.css_ongafechas_grid_line {vertical-align: middle;text-align: center;}
.css_ongahorad_label {text-align:center;vertical-align:middle;font-weight:bold;}
.css_ongahorad_grid_line {vertical-align: middle;text-align: center;}
.css_onganodos_label {text-align:center;vertical-align:middle;font-weight:bold;}
.css_onganodos_grid_line {vertical-align: middle;text-align: center;}
.css_ongaidonegas_label {text-align:center;vertical-align:middle;font-weight:bold;}
.css_ongaidonegas_grid_line {vertical-align: middle;text-align: center;}
.css_ongavirhosts_label {text-align:center;vertical-align:middle;font-weight:bold;}
.css_ongavirhosts_grid_line {vertical-align: middle;text-align: center;}
.css_ongacadenas_label {text-align:center;vertical-align:middle;font-weight:bold;}
.css_ongacadenas_grid_line {vertical-align: middle;text-align: right;}
