.css_ongacodigon_det_label {text-align: right;vertical-align: middle;}
.css_ongacodigon_det_line {height:0px;text-align: right;}
.css_ongafechas_det_label {text-align: right;vertical-align: middle;}
.css_ongafechas_det_line {height:0px;text-align: right;}
.css_ongahorad_det_label {text-align: right;vertical-align: middle;}
.css_ongahorad_det_line {height:0px;text-align: right;}
.css_onganodos_det_label {text-align: right;vertical-align: middle;}
.css_onganodos_det_line {height:0px;text-align: right;}
.css_ongaidonegas_det_label {text-align: right;vertical-align: middle;}
.css_ongaidonegas_det_line {height:0px;text-align: right;}
.css_ongavirhosts_det_label {text-align: right;vertical-align: middle;}
.css_ongavirhosts_det_line {height:0px;text-align: right;}
.css_ongacadenas_det_label {text-align: right;vertical-align: middle;}
.css_ongacadenas_det_line {height:0px;text-align: right;}
.css_ongaarchivs_det_label {text-align: right;vertical-align: middle;}
.css_ongaarchivs_det_line {height:0px;text-align: right;}
.css_ongafechains_det_label {text-align: right;vertical-align: middle;}
.css_ongafechains_det_line {height:0px;text-align: right;}
